html,body{
	height: 99%;
	width: 99%;
	background-color: Pink;
}

h1 {
	font-size: 10vw;
text-transform: capitalize;
  text-shadow: 1px 1px white ;
	font-family: Fantasy;
  
}
p {
	font-size: 0.875em;
  text-shadow: #ec69d4 ;
  
}
.container{
	border:2px #ec32dc solid;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color: rgba(195, 155, 211 );
  
    background-image: url('background.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
.wave{
	border: #ea90d2 1px solid;
	color: #faf4f4;
	text-align: center;
	background-color: rgba(255,34,45, 0.5);
	font-size: 0.9em;
	height: 25px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
  border:#c463c5
  background-image:repeating-linear-gradient(#CD5C5C,#F08080);
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
