.banner{
	background-color: rgba(251, 197, 182 );
	margin: 15px;
	padding: 10px;
	border: 3px solid #f5eaf6;
	box-shadow: 1px 3px 30px 1px #fb09df;
	text-transform: capitalize;
  text-shadow: 1px 1px #ec69d4 ;
	font-family: Fantasy;
	height: 120px;
	text-align: right;
	font-style: oblique;
  background-color: white;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}
h1{
	font-size: 0.7em;
  text-shadow: #ec69d4 ;  
}

