{
  margin: 0;
  Padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  backgground: linear-greadient( pink, purple);
}
header{
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul il{
  list-style: none;
  margin-left: 20px;
}
header ul li a{
}
  
